@mixin reset-link {
  text-decoration: none;
  color: unset;
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin reset-button {
  background-color: transparent;
  border: none;
}

@mixin transition($time: .4s) {
  transition: all $time ease;
}