:root {
  --text: #fcfdfe;
  --background: #010409;
  --background-main: #035061;
  --primary: #ffffff;
  --secondary-light: #024250;
  --secondary: #01232b;
  --accent: #05b5bb;
  --border: #035061;
}