.cart {
  width: 820px;
  margin: 94px auto 0;

  @media screen and (max-width: 1439px) {
    width: 94%;
  }

  @media screen and (max-width: 1023px) {
    margin-top: 30px;
  }

  &__top {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #62c8ff46;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cart {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__list {
    @include reset-list;
  }

  &__icon {
    width: 30px;
    height: 30px;
    background: url(../images/cart-img.svg) no-repeat center / contain;
  }

  &__title {
    color: var(--accent);
    font-size: 32px;
    line-height: 39px;

    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__clear-button {
    @include reset-button;
    display: flex;
    gap: 6px;
    color: var(--accent);
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    cursor: pointer;
    transition: all .4s ease;

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }

    &:hover {
      opacity: .6;
    }
  }

  &__clear-icon {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/trash-icon.svg) no-repeat center / contain;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border);

    @media screen and (max-width: 1023px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 167px max-content;
      row-gap: 32px;
      justify-items: center;
      position: relative;
      align-items: start;
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 140px max-content;
    }
  }

  &__img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    margin-right: 15px;

    @media screen and (max-width: 1023px) {
      width: 100%;
      height: 100%;
      margin-right: 0;
    }
  }

  &__info {
    width: 200px;

    @media screen and (max-width: 767px) {
      width: unset;
    }

    margin-top: 15px;
  }

  &__item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 3px;

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__item-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    opacity: .6;

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__counter-button {
    @include reset-button;
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid var(--accent);
    cursor: pointer;
    font-weight: 700;
    font-size: 23px;
    padding-bottom: 3px;
    @include transition;

    @media screen and (max-width: 767px) {
      width: 28px;
      height: 28px;
      font-size: 17px;
    }

    &:hover {
      background-color: var(--secondary-light);
    }

    &_disabled {
      border: 2px solid var(--secondary);
      color: var(--secondary);
      user-select: none;
      pointer-events: none;
    }
  }

  &__counter-number {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__sum {
    display: flex;
    margin: 0 93px;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #fec100;
    width: 112px;
    justify-content: center;

    @media screen and (max-width: 1023px) {
      margin-left: 0;
      margin-right: 0;
    }

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }

    &:after {
      content: '';
      width: 25px;
      height: 25px;
      display: block;
      background: url(../images/Dust.png) no-repeat center / contain;
      margin-left: 7px;
    }
  }

  &__clear-item {
    @include reset-button;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #62c8ff46;
    color: #62c8ff46;
    cursor: pointer;
    font-weight: 700;
    font-size: 26px;
    transition: all .4s ease;

    @media screen and (max-width: 1023px) {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    @media screen and (max-width: 767px) {
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;
      font-size: 16px;
    }

    &:hover {
      opacity: .7;
      transform: rotate(180deg);
    }
  }

  &__bottom {
    margin-top: 40px;
    width: 100%;
  }

  &__amount {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__hero-number {
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--accent);

    &:after {
      content: '';
      width: 25px;
      height: 25px;
      display: block;
      background: url(../images/cart-img.svg) no-repeat center / contain;
    }
  }

  &__total-dust {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #fec100;

    &:after {
      content: '';
      width: 25px;
      height: 25px;
      display: block;
      background: url(../images/Dust.png) no-repeat center / contain;
    }
  }

  &__txt {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__back {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CACACA;
    width: 211px;
    height: 55px;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
    @include transition;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    &:hover {
      opacity: .7;
    }
  }

  &__pay {
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 211px;
    height: 55px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid var(--accent);
    background-color: var(--accent);
    cursor: pointer;
    @include transition;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    &:hover {
      background-color: var(--secondary);
    }
  }

  &__empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__empty-title {
    font-size: 32px;
    margin: 0;

    @media screen and (max-width: 1023px) {
      font-size: 26px;
    }

    @media screen and (max-width: 767px) {
      font-size: 24px;
    }
  }

  &__empty-txt {
    font-size: 24px;
    color: #CACACA;
    text-align: center;
    margin: 0 0 10px;

    @media screen and (max-width: 1023px) {
      font-size: 18px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__empty-img {
    display: block;
    width: 40%;
    border-radius: 25px;

    @media screen and (max-width: 1023px) {
      width: 80%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}