.factions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 65%;
  column-gap: 9px;
  row-gap: 5px;
  @include reset-list;

  @media screen and (max-width: 767px) {
    max-width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    column-gap: 4px;
    row-gap: 4px;
  }

  &__option {
    padding: 12px 18px;
    border-radius: 30px;
    font-weight: 700;
    border: 2px solid var(--background);
    box-sizing: border-box;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    @include transition;

    &:hover {
      transform: translateY(-4px);
      border-color: var(--border);
    }

    &_active {
      border-color: var(--accent);
      background-color: var(--secondary-light);
    }

    @media screen and (max-width: 767px) {
      font-size: 15px;
      padding: 8px 16px;
    }
  }

  &__icon {
    width: 24px;

    @media screen and (max-width: 767px) {
      width: 21px;
    }
  }
}