.page {
  font-family: 'Lato', sans-serif;
  background: rgb(27, 27, 27);
  color: #fff;
  background: linear-gradient(142deg, rgba(27, 27, 27, 1) 0%, rgba(19, 35, 45, 1) 46%, rgba(34, 69, 91, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}