.wrapper {
  background: #202738;
  border: 2px solid #62C7FF;
  border-radius: 40px;
  width: 90%;
  height: 1409px;
  margin-top: 100px;
  margin-bottom: 150px;
  box-sizing: border-box;
  padding: 50px 65px 110px;
}