.wrapper {
  background: #1B1B1B;
  border: 2px solid rgba(95, 164, 234, 0.55);
  border-radius: 40px;
  width: 90%;
  height: 1409px;
  margin-top: 100px;
  margin-bottom: 150px;
  box-sizing: border-box;
  padding: 50px 65px 110px;
}